.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 7rem;
    display: inline-block; /*treated like text*/
    border-radius: 10rem;
    transition: all 0.2s; /*transition on initial state*/
    position: relative;
    font-size: 1.6rem;

    //change for button
    border: none;
    cursor: pointer;
  }
  &-animation {
    animation: moveUp 2s ease-out;
    animation-delay: 2s;
    animation-fill-mode: backwards; /*difn=ine the initial state*/
  }

  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); /*offset in x, offset in y , blur, color*/
    &::after {
      transform: scaleX(1.5);
      opacity: 0;
    }
  }

  &:active ,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &-white {
    color: #777;
    background-color: #fff;
  }

  &--green {
    color: #fff;
    background-color: $color-primary;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%; /*100% of parent*/
    width: 100%;
    border-radius: 10rem;
    position: absolute; /*btn:visited parent*/
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &-white::after {
    background-color: #fff;
  }
}
.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    font-size: $default-font-size;
    transition: all 0.2s;
    padding:.5rem;
    border-radius: 0 0 .5rem .5rem;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(-1px);
  }
}
